html {
  font-size: 130%;
}

body {
  margin-left: 50px !important;
  margin-top: 30px !important;
  background-image: linear-gradient(
      180deg,
      rgba(38, 38, 38, 0.471) 3%,
      transparent 100%
    ),
    url("./bg.jpg");
  background-repeat: n;
  background-size: cover;
  background-position: top center;
  color: rgba(245, 245, 245, 0.911);
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  width: max-content;
  padding-left: 0.2em;
}

button {
  box-shadow: 1px 1px 1px rgb(112, 221, 240);
  border: 2px solid rgba(245, 245, 245, 0.911);
  border-radius: 2px;
  color: rgba(245, 245, 245, 0.911);
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  padding: 0.5em 0em 0.5em 0.5em;
  margin: 0;
  width: 15%;
  opacity: 0;
  animation-name: buttonLoad;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  transition: all 0.3s ease-in-out;
  animation-delay: 0.5s;
}

@keyframes buttonLoad {
  from {
    width: 0%;
    opacity: 0;
  }

  to {
    width: 95%;
    opacity: 100%;
  }
}

@keyframes headerLoad {
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }
}

@keyframes iconLoad {
  from {
    transform: rotate(0deg);
    opacity: 0;
  }

  to {
    transform: rotate(360deg);
    opacity: 100%;
  }
}

@keyframes lastIcon {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }

  50% {
    transform: rotate(400deg);
    opacity: 100%;
  }

  75% {
    transform: rotate(400deg);
    opacity: 100%;
  }

  100% {
    transform: rotate(360deg);
    opacity: 100%;
  }
}

h1 {
  text-transform: uppercase;
  font-family: "Cantarell", serif;
  font-style: italic;
  letter-spacing: 0.1em;
  text-shadow: 1px 1px 1px rgb(112, 221, 240);
  font-weight: 700;
  animation: headerLoad 1s ease-in-out forwards;
  transform: translateX(-2%);
}

button:hover {
  background-color: rgba(245, 245, 245, 0.911);
  color: black;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

svg {
  filter: drop-shadow(1px 1px 1px rgb(112, 221, 240));
  width: 30px;
  height: 30px;
  fill: rgba(245, 245, 245, 0.911);
  margin-right: 10px;
  opacity: 0;
  animation: iconLoad 1s ease forwards;
}

.social-links svg:nth-child(1) {
  animation-delay: 0.5s;
}

.social-links svg:nth-child(2) {
  animation-delay: 0.6s;
}

.social-links svg:nth-child(3) {
  animation-delay: 0.7s;
}
.social-links svg:nth-child(4) {
  animation-delay: 0.8s;
}
.social-links svg:nth-child(5) {
  animation-delay: 0.9s;
}
.social-links svg:nth-child(6) {
  animation: lastIcon 1.6s ease forwards 1s;
}

svg:hover {
  filter: drop-shadow(-1px -1px 1px rgb(178, 112, 240));
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 5vw;
  }

  body {
    display: flex;
    justify-content: center;
    padding: 0 !important;
    margin: 0 !important;
    background-image: linear-gradient(
        180deg,
        rgba(38, 38, 38, 0.471) 3%,
        transparent 100%
      ),
      url("./Tanner2.jpg");
    animation-name: changeBackground;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  h1 {
    font-size: 2rem;
  }

  button {
    font-size: 0.8rem;
  }
}
